/* buttons.scss */
.btn {
  &:focus {
    outline: none;
  }
}
.btn-submit {
  background-color: $color-accent;
  color: $color-white;
  padding: 6px 20px;
  &:hover, &:focus {
    background-color: darken( $color-accent, 10% );
    color: $color-white;
  }
}