/* variables.scss */

// Colors
$color-accent : #f56529;
$color-dk-gray : #2f2f2f;
$color-md-gray : #444;
$color-lt-gray : #f5f5f5;
$color-white: #fff;

// Fonts
$font-san-serif : 'Montserrat', sans-serif;

// Fixed Heights
$height-footer : 50px;
